In [1]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup as bs

In [2]:
executable_path = {"executable_path":"/usr/local/bin/chromedriver"}
browser = Browser("chrome",**executable_path,headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html,"html.parser")
news = soup.find("ul",class_="item_list").find("div",class_ = "content_title").get_text()
news

'NASA to Host Virtual Briefing on February Perseverance Mars Rover Landing'

In [5]:
paragraph = soup.find("ul",class_="item_list").find("div",class_ = "article_teaser_body").get_text()
paragraph

'NASA leadership and members of the mission will discuss the agency’s latest rover, which touches down on the Red Planet on Feb. 18.'

In [6]:
url = "https://www.jpl.nasa.gov/images/?search=&category=Mars"
browser.visit(url)

In [7]:
html = browser.html
soup = bs(html,"html.parser")
featured_image_url = soup.find("div",class_="BaseImagePlaceholder").find("img")["src"]
featured_image_url

'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24364.2e16d0ba.fill-400x400-c50.jpg'

In [8]:
url = "https://space-facts.com/mars/"
browser.visit(url)

In [9]:
dfs = pd.read_html(url)

In [14]:
mars = dfs[0]

In [15]:
mars

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
mars_df = mars.T
mars_df

,0,1,2,3,4,5,6,7,8
0,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 (Phobos & Deimos),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [17]:
html_mars = mars_df.to_html()
html_mars

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n      <th>3</th>\n      <th>4</th>\n      <th>5</th>\n      <th>6</th>\n      <th>7</th>\n      <th>8</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>Polar Diameter:</td>\n      <td>Mass:</td>\n      <td>Moons:</td>\n      <td>Orbit Distance:</td>\n      <td>Orbit Period:</td>\n      <td>Surface Temperature:</td>\n      <td>First Record:</td>\n      <td>Recorded By:</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>6,792 km</td>\n      <td>6,752 km</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n      <td>227,943,824 km (1.38 AU)</td>\n      <td>687 days (1.9 years)</td>\n      <td>-87 to -5 °C</td>\n      <td>2nd millennium BC</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [69]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [70]:
html = browser.html
soup = bs(html,"html.parser")

In [71]:
solid = "https://astrogeology.usgs.gov"
hemi_list_dict = []
hemi_list = soup.find('div', class_= "collapsible results").find_all('div', class_="item")
 
    
for hemi in hemi_list: 
    hemi_dict = {}
    hemi_dict['title'] = hemi.text.strip()
    hemi_ = hemi.find('a')['href']
    hemi_url = solid + hemi_
    browser.visit(hemi_url)
    html = browser.html
    soup = bs(html, "html.parser")
    hemi_dict['img_url'] = soup.find("img",class_="wide-image")["src"]
    browser.visit(url)
    html = browser.html
    soup = bs(html,"html.parser")
    hemi_list_dict.append(hemi_dict)

In [72]:
hemi_list_dict

[{'title': 'Cerberus Hemisphere Enhancedimage/tiff 21 MBMosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…',
  'img_url': '/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhancedimage/tiff 35 MBMosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…',
  'img_url': '/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhancedimage/tiff 25 MBMosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…',
  'img_url': '/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhancedimage/tiff 27 MBMosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…',
  'img_url': '/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]